body{
    background: url("../img/fondo.jpg") no-repeat fixed;
    background-size: cover; 
}

img{
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; 
}

button{
    cursor: pointer;
}

.login{
    background: rgba(255,255,255,0.9);
    padding-bottom: 5%;
    margin-top: 12%;
}